@tailwind base;
@tailwind components;
@tailwind utilities;

/* .submitBtn::before{
    content: "";
    background-image: url("../public/images//shine.svg");
    font-size: 10px;
    background-size: 60px 40px;
    display: inline-block;
    width: 10px; 
    height: 20px;
    background-repeat: none;
    position: absolute;
} */
